proto_definitions/target/addressbookdefinition-0.0.4-SNAPSHOT-sources.jar
proto_definitions/target/addressbookdefinition-0.0.4-SNAPSHOT.jar
proto_definitions/target/classes/addressbook.proto
proto_definitions/target/classes/com/example/tutorial/protos/AddressBook$1.class
proto_definitions/target/classes/com/example/tutorial/protos/AddressBook$Builder.class
proto_definitions/target/classes/com/example/tutorial/protos/AddressBook.class
proto_definitions/target/classes/com/example/tutorial/protos/AddressBookOrBuilder.class
proto_definitions/target/classes/com/example/tutorial/protos/AddressBookProtos.class
proto_definitions/target/classes/com/example/tutorial/protos/Person$1.class
proto_definitions/target/classes/com/example/tutorial/protos/Person$Builder.class
proto_definitions/target/classes/com/example/tutorial/protos/Person$PhoneNumber$1.class
proto_definitions/target/classes/com/example/tutorial/protos/Person$PhoneNumber$Builder.class
proto_definitions/target/classes/com/example/tutorial/protos/Person$PhoneNumber.class
proto_definitions/target/classes/com/example/tutorial/protos/Person$PhoneNumberOrBuilder.class
proto_definitions/target/classes/com/example/tutorial/protos/Person$PhoneType$1.class
proto_definitions/target/classes/com/example/tutorial/protos/Person$PhoneType.class
proto_definitions/target/classes/com/example/tutorial/protos/Person.class
proto_definitions/target/classes/com/example/tutorial/protos/PersonOrBuilder.class
proto_definitions/target/generated-sources/protobuf/java/com/example/tutorial/protos/AddressBook.java
proto_definitions/target/generated-sources/protobuf/java/com/example/tutorial/protos/AddressBookOrBuilder.java
proto_definitions/target/generated-sources/protobuf/java/com/example/tutorial/protos/AddressBookProtos.java
proto_definitions/target/generated-sources/protobuf/java/com/example/tutorial/protos/Person.java
proto_definitions/target/generated-sources/protobuf/java/com/example/tutorial/protos/PersonOrBuilder.java
proto_definitions/target/maven-archiver/pom.properties
proto_definitions/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
proto_definitions/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/any.proto
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/api.proto
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/descriptor.proto
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/duration.proto
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/empty.proto
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/field_mask.proto
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/source_context.proto
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/struct.proto
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/timestamp.proto
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/type.proto
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/wrappers.proto
proto_definitions/target/protoc-dependencies/94d31b7d45b8baf792acbeea130772ee/google/protobuf/compiler/plugin.proto
proto_usages/target/protousage-0.0.4-SNAPSHOT-sources.jar
proto_usages/target/protousage-0.0.4-SNAPSHOT.jar
proto_usages/target/classes/AddPerson.class
proto_usages/target/classes/application.properties
proto_usages/target/classes/com/example/demo/DemoApplication.class
proto_usages/target/maven-archiver/pom.properties
proto_usages/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
proto_usages/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
proto_usages/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
proto_usages/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
proto_usages/target/test-classes/com/example/demo/DemoApplicationTests.class
